<body class="container box has-background-white p-5 has-text-centered mt-6" id="landing-page-body">
    <section class="is-justify-content-center">
        <img id="main-page-logo" src="{{imageUrl}}" alt="CRUD-Talker Logo">
        <h1 id="mainf-page-heading"></h1>
    </section>
    <button class="button is-link is-outlined p-2" type="submit" id="landing-page-signup">SIGN UP</button>
    <button class="button is-link is-outlined p-2" type="submit" id="landing-page-login">LOGIN</button>
    <script type="module" src="/js/landingPage.js"></script>
</body>