:root {
    --logo-dark-blue: #041F3F
}

#main-page-logo {
    width:300px;
    filter:drop-shadow(#285274 0.25rem 0.25rem 2px)
}

.column {
    display:flex;
    flex-direction:column;
}

.columns {
    height:100%;
}

#chat-input {
    width:100%;
}

#chat-ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 111px;
}

.incomingMsg {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: lightsalmon;
}

.outgoingMsg {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: lightblue;
}

html {
    background-color: var(--logo-dark-blue);
}

#chat-container {
    height: 50vh;
    overflow-y: auto;
}
.conversation-li:hover {
    background-color: #519BD7;
    color: white;
    cursor: pointer;
}
#conversation-name-box {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--logo-dark-blue);
    color: white;
}

#username-input, #add-user-form {
    max-width: 70%;
}

.conversation-li {
    background-color: var(--logo-dark-blue);
    color: white;
}

.convo-h {
    color: var(--logo-dark-blue);
    font-weight: bold;
}

#new-convo-form, #convo-input{
    max-width: 88%;
}

#sidebar {
    min-height: 85vh;
    min-width: 200px;
    left: 0;
    overflow-y: auto;
}

@media screen and (min-width:769px) {
#main-container {
    max-height: 95vh;
    min-width: 55vw;

}
}

@media screen and (max-width:770px){
    .columns {
        display:flex;
        flex-direction:column-reverse;
    }
    #sidebar {
        min-height: 40vh;
        min-width: 40vh;
        left: 0;
        overflow-y: auto;
        margin:50px;
    }
    #main-container {
        width:300px;
    }
    button {
        max-width:100px;
    }
    img {
        width:100px;
        display:flex;
    }
}
    
img {
    max-width:300px;
    display:flex;
}

body {
    font-size:16px;;
}

input[type=text] {
    padding: 0;
    height: 40px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-radius:5px 5px 5px 5px;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
  }

#convo-input[type=text]{
    padding: 0;
    height: 40px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-radius:5px 5px 5px 5px;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}

#sendButton {
    align-self:flex-end;
}

#chatBox {
    background-color:var(--logo-dark-blue);
    margin-bottom:0px;
}

.outgoingMsg
.incomingMsg {
    line-height:1px;
}

section {
    display:flex;
}